<!-- Services Section -->
    <div class="pv4-ns">
        <div class="ba-ns bw1-ns br4-ns w-80-ns w-100 center" style="background-color: #7FFF00">
            <div>
                <div class="w-100">
                    <p class="tc f-headline ph4">About Us</p>
                    <p class="tc f1">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="cf pa4">
                <div class="fl w-20-l w-40-m w-100 tc">
                    <span class="fa-stack fa-4x">

                        <i class="fa fa-music fa-stack-1x transparent"></i>
                    </span>
                </div>
                <div class="fl w-80-l w-60-m w-100">
                    <p class="f1 ma0 tl-ns tc">Piano</p>
                    <p class="tl-ns tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="cf pa4">
                <div class="fl w-20-l w-40-m w-100 tc">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-bullhorn fa-stack-1x"></i>
                    </span>
                </div>
                <div class="fl w-80-l w-60-m w-100">
                    <p class="f1 ma0 tl-ns tc">Aural</p>
                    <p class="tl-ns tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="cf pa4">
                <div class="fl w-20-l w-40-m w-100 tc">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-book fa-stack-1x"></i>
                    </span>
                </div>
                <div class="fl w-80-l w-60-m w-100">
                    <p class="f1 ma0 tl-ns tc">Reading</p>
                    <p class="tl-ns tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
    </div>
