<!-- Services Section -->
    <section>
        <div class="w-80-ns center bg-green br4-ns">
            <div>
                <div class="w-100">
                    <p class="tc f-headline ph4">About Us</p>
                    <p class="tc f1">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
            <div class="cf pa4">
                <div class="fl w-20-ns w-100 tc transparent">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="fl w-80-ns w-100">
                    <p class="f1 ma0 tl-ns tc">Piano</p>
                    <p class="tl-ns tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="cf pa4">
                <div class="fl w-20-ns w-100 tc">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bullhorn fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="fl w-80-ns w-100">
                    <p class="f1 ma0 tl-ns tc">Aural</p>
                    <p class="tl-ns tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="cf pa4">
                <div class="fl w-20-ns w-100 tc">
                    <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="fl w-80-ns w-100">
                    <p class="f1 ma0 tl-ns tc">Reading</p>
                    <p class="tl-ns tc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
