<section id="contact">
        <div class="bg-purple">
            <div>
                <div class="tc">
                    <h2 class="f1">Contact Us</h2>
                    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div>
                <div class="tc">
                    <form name="sentMessage" id="contactForm"  action="https://formspree.io/jtnguyen236@gmail.com" method="POST" novalidate>
                        <div>
			    <div>
                                <div>
                                    <input placeholder="Your name" type="text">
                                </div>
                                <div>
                                    <input placeholder="Your email" type="email">
                                </div>
                                <div>
                                    <input placeholder="Your phone" type="tel">
                                </div>
                                <div>
                                  <select>
                                    <option>Select...</option>
                                    <option>Jitterbugs</option>
                                    <option>Beeboppers</option>
                                    <option>Pianorama Kindy</option>
                                    <option>Pianorama Junior</option>
                                    <option>Pianorama Intermediate/Primary</option>
                                  </select>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <textarea></textarea>
                                    <p></p>
                                </div>
                            </div>
                            <div></div>
                            <div>
                                <div id="success"></div>
                                <button type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
