<div class="mv4-ns b--black pv4 ba-ns bw1-ns br4-ns w-80-ns w-100 center bg-purple white">
    <div>
        <div class="tc">
            <h2 class="f1">Contact Us</h2>
            <h3>We'd love to hear from you!</h3>
        </div>
    </div>
    <div>
        <div class="tc">
            <form name="sentMessage" id="contactForm"  action="https://formspree.io/jtnguyen236@gmail.com" method="POST" novalidate>
                <div>
                    <div class="w-80 center">
                        <div class="w-100 w-60-l center">
                            <div>
                                <input class="fl w-100 pa3 mv2 br4 ba" placeholder="Your name" type="text">
                            </div>
                            <div>
                                <input class="fl w-100 pa3 mv2 br4 ba" placeholder="Your email" type="email">
                            </div>
                            <div  class="ba b--black bg-white fl w-100 br4">
                                <select class="bg-transparent fl w-80 ma3 b--none">
                                    <option>Select class...</option>
                                    <option>Jitterbugs</option>
                                    <option>Beeboppers</option>
                                    <option>Pianorama Kindy</option>
                                    <option>Pianorama Junior</option>
                                    <option>Pianorama Intermediate/Primary</option>
                                </select>
                            </div>
                            <div>
                                <textarea class="pa3 fl w-100 h4 mv2 br4 ba" placeholder="Your message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="w-40 br4 pa4 bg-transparent ba b--white white" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
