<!-- Portfolio Grid div -->
<div class="pv4-ns white">
    <div class="ba-ns b--black bw1-ns br4-ns w-80-ns w-100 center" style="background-color: #3333ff">
        <h1 class="f-subheadline tc">Courses</h1>
        <p class="f1 tc">Lorem ipsum dolor sit amet consectetur.</p>
        {% for post in site.posts reversed %}
            {% if post.categories contains "course" %}
                <div class="w-100 center pa4-ns">
                    <h1 class="w-100 f1 tc">{{ post.title }}</h1>
                    <h2 class="w-100 f2 tc">{{ post.subtitle }}</h2>
                    <div class="mw5-ns w-100 mw7-ns center pa3 ph0 ph5-ns">
                        <img class="br4-ns w-100" src="img/portfolio/{{ post.thumbnail }}" alt="">
                    </div>
                    <div class="w-100 f4 pa2">{{ post.content }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
