<!-- Portfolio Grid div -->
  <div>
    <div class="w-80-ns center bg-blue br4-ns">
        <h1 class="f-subheadline tc">Courses</h1>
        <p class="f1 tc">Lorem ipsum dolor sit amet consectetur.</p>
        {% for post in site.posts reversed %}
            {% if post.categories contains "course" %}
                <div class="w-100 center pa4-ns">
                    <h1 class="w-100 f1 tc">{{ post.title }}</h1>
                    <h2 class="w-100 f2 tc">{{ post.subtitle }}</h2>
                    <div class="mw5 mw7-ns center pa3 ph5-ns">
                        <img class="w-100" src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </div>
                    <div class="w-100 f4 pa2">{{ post.content }}</div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
  </div>
